.searchViews {
	background: #e1e2e4;
	padding: 10px;
	box-sizing: border-box;
	font-family: sans-serif;
	border-radius: 5px;
	margin-bottom: 10px;
}

.searchViews-items {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.searchViews-item a {
	text-decoration: none;
}

.searchViews-item {
	margin: 10px 10px 20px 10px;
}

.searchViews-item:hover h4:before{
	width: 100%;
}

.searchViews-item:hover .icon{
	border: 2px solid #ffa603;
	background: #1c2d4c;
}

.searchViews-item:hover svg{
	fill: #ffa603;
}

.searchViews-item:hover #tw{
	animation: flash .7s;
}


.searchViews-item h4 {
	margin-top: 10px;
	color: #1c2d4c;
	border-bottom: 2px solid transparent;
	transition: .25s linear;
	position: relative;
	display: inline-block;
}

.searchViews-item h4:before {
	content: "";
	position: absolute;
	bottom: -5px;
	left: 0;
	height: 2px;
	width: 0;
	background: #1c2d4c;
	transition: .15s linear;
}

.searchViews-item svg{
	fill: #1c2d4c;
	margin: 0 auto;
	width: 70px;
	height: 70px;
	background: transparent;
	border-radius: 50%;
	transition: .25s linear;
}

.searchViews-item #tw{
	stroke-dasharray: 300, 0, 3000;
}

.icon {
	width: 70px;
	height: 65px;
	background: transparent;
	padding-top: 5px;
	border-radius: 50%;
	transition: .25s linear;
	border: 2px solid #1c2d4c;
}

@keyframes flash {
	10% {
		stroke-dasharray: 300,500,3000;
	}
	100% {
		stroke-dasharray: 3300,500,300;
	}
}

